@font-face {
  font-family 'telenor-bold'
  font-style normal
  font-weight bold
  src url('./fonts/telenor-bold.woff') format('woff')
}

@font-face {
  font-family 'telenor-medium'
  font-style normal
  font-weight 500
  src url('./fonts/telenor-medium.woff') format('woff')
}

@font-face {
  font-family 'telenor-light'
  font-style normal
  font-weight lighter
  src url('./fonts/telenor-light.woff') format('woff')
}

html
  overflow-y auto

.application
  font-family telenor-medium, Roboto sans-serif !important
